.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #2874f0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 5px;
  margin-left: 210px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
}
.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 90%;
}
.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: white;
  color: #2874f0;
  border: white;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
  margin-right: 100px;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  font-weight: 600;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin-right: 10px;
  margin-left: 2px;
}

@media screen and (max-width: 992px) {
  .header__logo {
    margin-left: 30px;
  }
  .header__nav {
    margin-right: 20px;
  }
}
